#cof-button {
  margin: 4px 0 4px 4px;
}
#cof-button img {
  width: 32px;
  height: 32px;
}

#cof-background {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  -visibility: hidden;
}

#cof-container {
  width: 50%;
  min-width: 400px;
  margin: 250px 25%;
  background-color: white;
  padding: 20px;
  border: 2px black solid;
  border-radius: 10px;
}

#cof-container h2 {
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 5px 0;
}

#cof-dishNameLabel {
    font-weight: bold;
    margin-right: 5px;
}

p.nameCnt {
    margin-top: 10px;
}

#cof-dishName {
    
}

#cof-container li {
  list-style: none;
  clear: left;
}

#cof-container .header {
  font-weight: bold;
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
  float: left;
}

#cof-ingredients {
    clear: left;
}

#cof-container .btn-del {
  margin: 3px;
  cursor: pointer;
}

#cof-container .btn-add {
  background-color: lightgrey;
  border: 1px solid darkgray;
  border-radius: 6px;
  padding: 0 2px 0 5px;
  margin: 5px;
  cursor: pointer;
}

#cof-container .ingredient {
  width: 60%;
}

#cof-container .amount {
  width: 28%;
}

#cof-container textarea {
  height: 100px;
  width: 100% fixed;
}

#cof-ingredients {
  margin: 10px 0;
}

#cof-ingredients li {
  margin: 2px 0;
}

#cof-post {
  text-align: center;
  margin-top: 10px;
  margin-left: 70%;
  width: 30%;
  padding: 3px;
  border-radius: 6px;
  background-image: linear-gradient(lightgreen, darkgreen);
  color: white;
}
